<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "My Favorite Books", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <%= link_to "トップページ", root_path, class: "navbar-brand navbar-right" %>
      <%= link_to "ログイン", new_user_session_path, class: "navbar-brand navbar-right" %>
    </div>
  </div>
</nav>

<div class="container-form clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="wrap">
        <div class="error-msg">
          <%= devise_error_messages! %>
        </div>
        <p class="form-title">Sign Up</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'login'}) do |f| %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.text_field :email, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div>
            <%= f.submit "Sign up", class: "btn btn-success btn-sm actions" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
